/* SERVICES PART */
#page_services {
    background: url("../Images/wpp/predio_wpp.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    width: 100%;
    border: 1px solid black;
}

#services_title {
    color: white;
}

#board_services_group {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    max-width: 1000px;
    height: 500px;
    top: 170px;
    transform: translate(-50%);
    overflow: hidden;
}


.board_services {
    position: relative;
    background: #515163;
    border: 3px solid #ffffff;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 23px -4px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 23px -4px rgba(117,117,117,1);
    box-shadow: 0px 0px 23px -4px rgba(117,117,117,1);
}


#board_services1 {
    background: url("https://images.unsplash.com/photo-1520869562399-e772f042f422?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    width: 260px;
}

#board_services2 {
    background: url("https://images.unsplash.com/photo-1542744094-3a31f272c490?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    width: 350px;
}

#board_services3 {
    background: url("https://images.unsplash.com/photo-1707733148825-e49aa84d7f43?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    width: 260px;
}

#board_services4 {
    background: url("https://images.unsplash.com/photo-1621905251918-48416bd8575a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    width: 260px;
}

#board_services5 {
    background: url("https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?q=80&w=1930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    width: 260px;
}

#board_services6 {
    background: url("../Images/services/audiovisual.jpg");
    background-position: center;
    background-size: cover;
    width: 350px;
}


.service_details_screen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #0000007a;
    height: 100%;
    width: 100%;
    top: 100%;
    transition: top .5s ease;
}

.board_services:hover .service_details_screen {
    top: 0%;
}

.service_details_title{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn_service_details {
    position: relative;
    display: block;         
    width: 100%;             
    height: 100%;           
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    transition: background .5s ease;
}


.btn_service_details:hover {
    background: white;
}


.btn_service_details a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.btn_service_details:hover a{
    color: black;
}


