/* PROJECTS PART */
#page_projects {
    position: relative;
    left: 0px;
    height: 800px;
    width: 100vw;
    /*background: #0056B3;*/
    background: rgb(24, 31, 46);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#projects_title{
    color: rgb(255, 255, 255);
}

#board_projects_group {
    position: relative;
    height: 650px;
    width: 1300px;
    display: flex;
    align-items: center;
}

.board_projects {
    position: relative;
    min-height: 500px;
    min-width: 400px;
    border: 3px solid rgba(80, 80, 80, 0.222);
    margin: 0px 15px;
    border-radius: 10px;
    background: #ffffff11;
    transform: scale(1);
    transition: transform .3s ease;
}

.board_projects:hover{
    transform: scale(1.1);
}

.img_project_area {
    position: relative;
    width: 350px;
    height: 350px;
    left: 25px;
    top: 20px;
    background-size: 350px;
    overflow: hidden;
}

#img_project_area1{
    background: url('../Images/projects/leafree.jpg');
    background-size: 350px;
}

#img_project_area2{
    background: url('../Images/projects/card.jpg');
    background-size: 350px;
}

#img_project_area3{
    background: url('../Images/projects/breve.jpg');
    background-size: 350px;
}


.project_text{
    position: absolute;
    top: 390px;
    left: 35px;
    color: #0056B3;
    font-family: cursive;

}

.project_phrase{
    position: absolute;
    top: 430px;
    left: 10%;
    font-size: 15px;
    width: 90%;
    color: white;
}